@font-face {
    font-family: "Lato Thin";
    src: url('../fonts/Lato-Thin.eot');
    src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Thin.woff') format('woff'),
    url('../fonts/Lato-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato Light";
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 500;
    font-family: 'Lato Light';
    color: #fff;
}

h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 300;
    text-align: center;
}

h2 {
    font-size: 6vh;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 1.5em;
    font-weight: 500;
    color: #C3CAD9;
}

a {
    font-weight: 700;
    color: #373B44;
    position: relative;
}

.logo {
    position: absolute;
    margin: 3% 0 0 10%;
    width: 20vh;
}

nav {
    position: fixed;
    right: 0;
    z-index: 99;
    padding: 25px 5% 0 0;
    font-size: 19px;
    text-align: center;
    font-family: Lato Thin;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover, nav ul li a:focus {
    text-decoration: none;
    color: #fff;
}

#navigation ul li a.active {
    color: #000;
}

section {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #3B3551;
    height: 100vh;
}

.title {
    text-align: center;
    font-family: 'Lato Thin';
    font-size: 8vh;
    color: #00B6F6;
}

/* CONFERENCE */
.conference {
    background-image: url("../img/background-top2.jpg");
    background-position: 0 -100vh;
    padding: 50px 0 0;
    background-color: #292639;
    background-repeat: no-repeat;
}

.conference .row:last-child {
    margin-top: 10%;
    margin-bottom: 10%;
}

.fadeIn {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
}

/* AGENDA */
.agenda .relative label {
    white-space: normal;
}

/* SPEAKERS */
.speakers {
    background-color: #292638;
    padding: 50px 0 0;
}

.speakers .title {
    padding-bottom: 70px;
    padding-top: 20px;
}

.speakers .row:nth-child(odd) .glyphicon-remove {
    right: 0;
}

.speakers .row:nth-child(even) img {
    float: right;
    max-width: 370px;
    margin-top: -180px;
    transition-property: margin-top;
    -moz-transition-property: margin-top; /* Firefox 4 */
    -webkit-transition-property: margin-top; /* Safari and Chrome */
    -o-transition-property: margin-top; /* Opera */

    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s; /* Firefox 4 */
    -webkit-transition-duration: 0.5s; /* Safari and Chrome */
    -o-transition-duration: 0.5s; /* Opera */

    transition-timing-function: linear;
    -moz-transition-timing-function: linear; /* Firefox 4 */
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    -o-transition-timing-function: linear; /* Opera */
}

.speakers .row:nth-child(odd) img {
    float: left;
    max-width: 370px;
    margin-top: -180px;
    transition-property: margin-top;
    -moz-transition-property: margin-top; /* Firefox 4 */
    -webkit-transition-property: margin-top; /* Safari and Chrome */
    -o-transition-property: margin-top; /* Opera */

    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s; /* Firefox 4 */
    -webkit-transition-duration: 0.5s; /* Safari and Chrome */
    -o-transition-duration: 0.5s; /* Opera */

    transition-timing-function: linear;
    -moz-transition-timing-function: linear; /* Firefox 4 */
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    -o-transition-timing-function: linear; /* Opera */
}

.speakers .row {
    height: 250px;
    transition-property: height;
    -moz-transition-property: height; /* Firefox 4 */
    -webkit-transition-property: height; /* Safari and Chrome */
    -o-transition-property: height; /* Opera */

    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s; /* Firefox 4 */
    -webkit-transition-duration: 0.5s; /* Safari and Chrome */
    -o-transition-duration: 0.5s; /* Opera */

    transition-timing-function: linear;
    -moz-transition-timing-function: linear; /* Firefox 4 */
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    -o-transition-timing-function: linear; /* Opera */
}

.speakers .row:nth-child(odd) {
    text-align: right;
}

.speakers .row:nth-child(odd) p {
    float: right;
}

.speakers .row > div {
    height: 100%;
    overflow: hidden;
}

.glyphicon-menu-down {
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
}

.speakers-info {
    display: table-cell;
    vertical-align: middle;
}

.speakers-info p {
    color: #000000;
    max-width: 350px;
}

.fullDesc .glyphicon-remove {
    position: absolute;
    margin: 20px 0 0 0;
    border: 1px solid;
    padding: 2px;
    margin-left: -5px;
    cursor: pointer;
}

.fullDesc img {
    margin-top: 0px !important;
    transition-property: margin-top;
    -moz-transition-property: margin-top; /* Firefox 4 */
    -webkit-transition-property: margin-top; /* Safari and Chrome */
    -o-transition-property: margin-top; /* Opera */

    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s; /* Firefox 4 */
    -webkit-transition-duration: 0.5s; /* Safari and Chrome */
    -o-transition-duration: 0.5s; /* Opera */

    transition-timing-function: linear;
    -moz-transition-timing-function: linear; /* Firefox 4 */
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    -o-transition-timing-function: linear; /* Opera */

}

.fullDesc {
    height: 500px !important;
    background: #ffffff !important;
    color: #000000 !important;

    transition-property: height;
    -moz-transition-property: height; /* Firefox 4 */
    -webkit-transition-property: height; /* Safari and Chrome */
    -o-transition-property: height; /* Opera */

    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s; /* Firefox 4 */
    -webkit-transition-duration: 0.5s; /* Safari and Chrome */
    -o-transition-duration: 0.5s; /* Opera */

    transition-timing-function: linear;
    -moz-transition-timing-function: linear; /* Firefox 4 */
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    -o-transition-timing-function: linear; /* Opera */
}

.desc-info {
    display: none;
}

.fullDesc .desc-info {
    display: block;
}

.speakers-first {
    background: url("../img/speakers/speakers-bg-01.jpg");
    background-size: cover;
    margin-top: 50px;
}

.speakers-second {
    background: url("../img/speakers/speakers-bg-02.jpg");
    background-size: cover;
}

.speakers-third {
    background: url("../img/speakers/speakers-bg-03.jpg");
    background-size: cover;
}

.speakers-fourth {
    background: url("../img/speakers/speakers-bg-04.jpg");
    background-size: cover;
}

.speakers-fifth {
    background: url("../img/speakers/speakers-bg-05.jpg");
    background-size: cover;
}

/* LOCATION */
.location {
    background-color: #096B9A;
    padding: 50px 20px 0;
}

.location .row:last-child {
    margin-top: 10%;
    margin-bottom: 10%;
}

.contact {
    padding: 50px 20px 0;
    background-color: #363843;
    text-align: center;
}

.location h4, .conference h4 {
    margin-top: 35px;
}

/* CONTACT */
form {
    max-width: 690px;
    margin: 50px auto;
}

form input, form textarea {
    color: #000;
}

form .btn-sm {
    padding: 20px 80px;
}

.contact input {
    height: 50px;
    width: 435px;
    padding-left: 10px;
    font-size: 24px;
    border: none;
}

.contact input:focus, .contact textarea:focus {
    outline-offset: 0;
    outline: 0;
}

.contact textarea {
    height: 190px;
    width: 100%;
    margin: 40px 0;
    padding: 10px 20px;
    font-size: 24px;
}

form label {
    display: block;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 100;
}

input[type=checkbox] {
    float: left;
    margin-right: 20px;
    width: 25px;
}

input.error, textarea.error {
    background-color: #ff7e7e !important;
}

.check-box {
    display: block;
}

.check-box p {
    font-size: 14px;
    text-align: left;
    display: table;
}

.row {
    margin: 0;
}

.title-intro {
    max-width: 50%;
    display: inline-block;
}

.content {
    display: table-cell;
}

.first {
    background-image: url("../img/background-top2.jpg");
    background-repeat: no-repeat;
}

.first .content {
    text-align: center;
    vertical-align: middle;
}

.first .content h2, .first .content h3 {
    margin-bottom: 13%;
}

.map {
    max-height: 100%;
}

.btn-sm {
    padding: 20px 30px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 1px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    margin: 40px;
}

.center {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    header {
        height: 300px;
        line-height: 300px;
    }
}

#google-container {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #e7eaf0;
}

@media only screen and (min-width: 768px) {
    #google-container {
        height: 400px;
    }
}

@media only screen and (min-width: 1170px) {
    #google-container {
        height: 600px;
    }
}

#cd-google-map {
    position: relative;
}

#cd-google-map address {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background-color: rgba(211, 104, 104, 0.9);
    color: #ffffff;
    font-size: 13px;
    font-size: 0.8125rem;
}

@media only screen and (min-width: 768px) {
    #cd-google-map address {
        font-size: 15px;
        font-size: 0.9375rem;
        text-align: center;
    }
}

/* mouse scroll animate */

.center-mouse {
    position: absolute;
    margin: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    bottom: 25px;
    text-align: center;
}

.animate-circle {
    margin-top: -73px;
    display: inline-block;
}

.animate-circle span {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    margin: 9px 0 0 0px;
    background: white;
    border-radius: 50%;
}

.unu {
    margin-top: 4px;
}

.one, .two, .three, .four, .five, .six, .seven {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.one {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

.two {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    margin-bottom: 55px !important;
}

.three {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
}

.four {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -webkit-animation-direction: alternate;
}

.five {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -webkit-animation-direction: alternate;
}

.six {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -webkit-animation-direction: alternate;
}

.seven {
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    -webkit-animation-direction: alternate;
}

.mouse {
    height: 35px;
    width: 20px;
    border-radius: 10px;
    transform: none;
    border: 2px solid white;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    50% {
        top: 2px;
    }
    100% {
        top: 3px;
    }
}

@-webkit-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

/* END mouse scroll animate */

/* REVRITE BOOTSTRAP CLASSES */
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-fixed-top {
    left: inherit;
}

.navbar-nav > li {
    float: initial;
}

.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 10px;
}

/* --------------------------------

Responsive

-------------------------------- */

@media (max-width: 1366px) {
    h3 {
        font-size: 22px
    }

    h4 {
        font-size: 19px;
    }

    .conference .row:last-child {
        margin-top: 3%;
    }

    .title-intro {
        max-width: 60%;
    }
}

@media (max-width: 1024px) {
    h2 {
        font-size: 4vh;
    }

    .five, .six, .seven {
        display: none !important;
    }

    #timeline {
        max-width: 85% !important;
    }
}

@media (max-height: 768px) {
    .five, .six, .seven {
        display: none !important;
    }
}

@media (max-height: 500px) {
    .center-mouse {
        display: none;
    }
}

@media (max-width: 768px) {
    #timeline {
        max-width: 100% !important;
    }

    .navbar-inverse .navbar-collapse {
        background: rgba(0, 0, 0, 0.6);
    }

    .agenda .content {
        padding: 70px 10px 0 !important;
    }
}

@media (max-width: 600px) {
    .speakers h5 {
        font-size: 12px;
    }

    .speakers h3 {
        font-size: 17px;
    }

    .speakers .row:nth-child(odd) img {
        max-width: 300px;
    }

    .speakers .row:nth-child(even) img {
        max-width: 300px;
    }
}

@media (max-width: 500px) {
    .contact input {
        width: 100%
    }
}